/*
 Copyright (C) 2009, 2010  by Russell J. Peters, Roger Aelbrecht,
      Eric W. Engler and Chris Vleghert.

   This file is part of TZipMaster Version 1.9.

    TZipMaster is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TZipMaster is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with TZipMaster.  If not, see <http://www.gnu.org/licenses/>.

    contact: problems@delphizip.org (include ZipMaster in the subject).
    updates: http://www.delphizip.org
    DelphiZip maillist subscribe at http://www.freelists.org/list/delphizip 
*/
#define  LVS_REPORT 0x1
#define  LVS_SHOWSELALWAYS 0x8
#define  LVS_SHAREIMAGELISTS 0x40
#define  LVS_NOLABELWRAP 0x80
#define  LVS_ALIGNLEFT 0x800
#define  LVS_NOSORTHEADER 0x8000

FILEEXIST DIALOGEX 60, 98, 194, 67
STYLE DS_ABSALIGN | DS_SYSMODAL | DS_MODALFRAME | 0x200L | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | DS_FIXEDSYS | DS_SETFONT
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "#"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "MS Shell Dlg"
{
   CONTROL "MNICON", 5102, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 5, 8, 21, 20 
   CONTROL "", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 105, 48, 40, 16
   CONTROL "", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 48, 40, 16
   CONTROL "", 301, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 49, 97, 12
   CONTROL "", -1, STATIC, SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 44, 194, 1 
   CONTROL "", 201, STATIC, SS_LEFT | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 41, 12, 148, 28 
}

MAINDIALOG DIALOGEX 97, 18, 264, 96
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_FIXEDSYS | DS_SETFONT
CAPTION "#"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "MS Shell Dlg"
{
   CONTROL "MNICON", -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 8, 4, 21, 20 
   CONTROL "", 601, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 42, 2, 120, 8
   CONTROL "", 201, EDIT, ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 42, 11, 196, 12 
   CONTROL "...", 104, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 238, 11, 16, 12 
   CONTROL "", -1, STATIC, SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 27, 264, 1 
   CONTROL "", 801, "msctls_progress32", WS_CHILD | WS_CLIPSIBLINGS | NOT WS_VISIBLE, 35, 8, 220, 12 
   CONTROL "", 501, STATIC, SS_LEFT | WS_CHILD | NOT WS_VISIBLE, 4, 32, 36, 8
   CONTROL "", 401, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_NOLABELWRAP | LVS_ALIGNLEFT | LVS_NOSORTHEADER | WS_CHILD | WS_BORDER | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE, 42, 32, 213, 72
   CONTROL "", 602, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 10, 32, 245, 24
   CONTROL "", 703, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 42, 56, 9
   CONTROL "", 702, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 80, 42, 88, 9
   CONTROL "", 701, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 176, 42, 72, 9
   CONTROL "run", 302, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 60, 248, 12
   CONTROL "", 103, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 79, 72, 14
   CONTROL "", 105, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 86, 79, 62, 14
   CONTROL "", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 162, 79, 45, 14
   CONTROL "", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 210, 79, 45, 14
   CONTROL "", 502, STATIC, SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 74, 264, 1
}

PASSWD DIALOGEX 60, 98, 194, 55
STYLE DS_ABSALIGN | DS_SYSMODAL | DS_MODALFRAME | 0x200L | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_FIXEDSYS | DS_SETFONT
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "#"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "MS Shell Dlg"
{
   CONTROL "MNICON", -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 9, 10, 21, 20
   CONTROL "", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP | WS_TABSTOP, 92, 36, 45, 16
   CONTROL "", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 145, 36, 45, 16 
   CONTROL "", -1, STATIC, SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 0, 30, 194, 1 
   CONTROL "", 201, EDIT, ES_LEFT | ES_PASSWORD | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 34, 8, 155, 14 
}

LANGS DIALOGEX 97, 18, 186, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_FIXEDSYS | DS_SETFONT
EXSTYLE WS_EX_DLGMODALFRAME
CAPTION "#"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
FONT 9, "MS Shell Dlg"
{
   CONTROL "MNICON", -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 8, 26, 21, 20  
   CONTROL "", 903, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 47, 2, 132, 8
   CONTROL "", 901, COMBOBOX, CBS_DROPDOWN | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 47, 14, 132, 80
   CONTROL "", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 33, 43, 50, 14
   CONTROL "", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 43, 50, 15
}

128 RCDATA "DefStr.bin"

MNICON ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 80 80 80 00 C0 C0'
 'C0 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 0E EE'
 'EE EE EE EE EE EE EE EE EE EE EE EE EE E0 0E EE'
 'EE EE EE EE EE EE EE EE EE EE EE EE EE E0 0E E7'
 '77 77 77 77 77 77 7E EE EE EE EE EE EE E0 0E EE'
 '7B FF FF B8 88 87 EE EE EE EE EE EE EE E0 0E EE'
 '77 77 8B 88 77 77 EE EE EE EE EE EE EE E0 0E EE'
 'EE 7F FF BB 87 EE EE EE EE EE EE EE EE E0 0E EE'
 '00 00 FF 00 87 00 E0 0E EE EE EE EE EE E0 0E E0'
 '0E 70 0F 00 87 00 00 0E EE EE EE EE EE E0 0E EE'
 'EE 70 0F 00 87 E0 00 EE EE EE EE EE EE E0 0E EE'
 'E0 00 0F 00 87 E0 00 EE EE EE EE EE EE E0 0E E0'
 '00 0B FF 00 87 00 00 0E 00 0E EE EE EE E0 0E E0'
 '0E 7F F0 00 07 00 E0 0E 00 0E EE EE EE E0 0E E0'
 '0E 70 0F 00 87 EE EE EE 00 0E EE EE EE E0 0E EE'
 '00 00 FF B0 00 EE EE EE 00 0E EE EE EE E0 0E EE'
 'EE 7B FF B8 87 EE EE EE 00 0E EE EE EE E0 0E E0'
 '00 00 00 00 07 E0 00 EE 00 00 00 0E EE E0 0E E0'
 '00 00 00 00 07 E0 00 EE 00 00 00 00 EE E0 0E E0'
 '00 00 00 00 07 E0 00 EE 00 0E E0 00 EE E0 0E EE'
 '00 00 BF B8 87 E0 00 EE 00 0E E0 00 EE E0 0E EE'
 'E0 00 0F BB 87 E0 00 EE 00 0E E0 00 EE E0 0E EE'
 'EE 00 00 B8 87 E0 00 EE 00 0E E0 00 EE E0 0E EE'
 'EE 70 00 0B 87 E0 00 EE 00 00 00 00 EE E0 0E EE'
 'EE 7F 00 00 87 E0 00 EE 00 00 00 0E EE E0 0E E0'
 '00 00 00 00 07 EE EE EE EE EE EE EE EE E0 0E E0'
 '00 00 00 00 07 E0 00 EE EE EE EE EE EE E0 0E E0'
 '00 00 00 00 07 E0 00 EE EE EE EE EE EE E0 0E EE'
 'EE 7B FF B8 87 EE EE EE EE EE EE EE EE E0 0E EE'
 'EE 7F FF BB 87 EE EE EE EE EE EE EE EE E0 0E EE'
 'EE 7B FF B8 87 EE EE EE EE EE EE EE EE E0 0E EE'
 'EE EE EE EE EE EE EE EE EE EE EE EE EE E0 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}

